body, script {margin: 0; padding: 0;}

body {background: wheat;}

#get-tiket {
    background: cornflowerblue;
}

#get-result {
    background: crimson;
    color: white;
}

#get-ispis {
    background: yellowgreen;
}

#get-zadnji-br {
    background: tomato;
}

#kombinacija, #zadnji-br {
    background: violet;
}